@charset "UTF-8";

/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ff3225;

}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}
/* 라이브러리 */
body{
    width: 100%;
    font-size: 16px;
    background-color: #ffffff;
}

.con{
    max-width: 1200px;
    margin: 0 auto;
}

/* 스타일 */

/* 탑바(top-bar) 제작 */
header{
    z-index: 888;
}
header > .top-wrap > .top-bar-box{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

header > .top-wrap > .top-bar-box li{
    font-size: 18px;
    font-weight: bold;
}
header > .top-wrap > .top-bar-box > .logo{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    display: flex;
}

header > .top-wrap > .top-bar-box > .logo > a{
    width: 100%;
    display: flex;
}

header > .top-wrap > .top-bar-box > .logo img{
    width: 60px;
    padding: 20px;
}

header > .top-wrap > .top-bar-box > .nav-box{
    width: 800px;
    height: 80px;
}

header > .top-wrap > .top-bar-box > .nav-box li{
    float:left;
    line-height: 80px;
    text-align: center;
    width: calc(100%/4);
    position: relative;
}

header > .top-wrap > .top-bar-box > .nav-box li > a{
    line-height: 80px;
}

/* 2차메뉴 커스텀 */
header > .top-wrap > .top-bar-box > .nav-box .sub-nav{
    position: absolute;
    width: 100%;
    display: none;
    top:;
}

header > .top-wrap > .top-bar-box > .nav-box .sub-nav > li{
    width: 100%;
}

header > .top-wrap > .top-bar-box > .nav-box  li:hover > .sub-nav{
    background-color: #FF6359;
    display: block;
}
header > .top-wrap > .top-bar-box > .nav-box  li:hover a{
    color: #ffffff;
}
header > .top-wrap > .top-bar-box > .icon-box{
    width: 100px;;
}   
header > .top-wrap > .top-bar-box > .icon-box li{
    width: calc(100%/2);
    float: left;

}
header > .top-wrap > .top-bar-box > .icon-box li > a{
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
header > .top-wrap > .top-bar-box > .icon-box li > a > .icon{
    font-size: 23px;
    color: #ffffff;
    padding:8px;
    background-color:#ff3225;
    border-radius:50%;
}

/* top-bar 2차메뉴 시작 */


/* floating 시작 */

.floating-wrap{
    position: relative;
    z-index: 9999;
    /* border: 3px solid blue; */
    /* width: 1400px;    */
    margin: 0 auto;
}
.floating-wrap > .floating-box{
    position: fixed;
    right: 200px;
    top: 480px;
}
.floating-wrap > .floating-box > li {
    margin-bottom:30px;
}


/* main-vi 시작 */

.main-vi-wrap{
    width: 100%;
    height: 925px;
    position: absolute;
    top: 0;
    z-index: -100;
}

.main-vi-wrap > img{
    width: 100%;
}

/* scetion-1 시작 */
.scetion-1{
    position: relative;
    background-color: pink;
    top: 800px;
    text-align: center;
}
.scetion-1 > .main-text > a{
    position: relative;
}
.scetion-1 > .main-text > .round::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
}