@charset "UTF-8";

/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;

}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}
/* 라이브러리 */
body{
    width: 100%;
    font-size: 16px;
    background-color: #ffffff;
}
.con{
    width: 1200px;
    margin: 0 auto;
}


/* 스타일 */

header > .top-wrap > .top-bar-box{
    width: 1200px;
    height: 80px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
}


header > .top-wrap > .top-bar-box > .logo{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    float: left;
    border:1px solid black;
    
}

header > .top-wrap > .top-bar-box > .logo img{
    width: 80px;
    height: 80px;

}

header > .top-wrap > .top-bar-box > .nav-box{
    width: 800px;
    /* float: left; */
    border:1px solid black;
    height: 80px;
}
header > .top-wrap > .top-bar-box > .nav-box li{
    float:left;
    line-height: 80px;
    text-align: center;
    width: calc(100%/4);
}
header > .top-wrap > .top-bar-box > .nav-box li > a{
    line-height: 80px;
    font-weight: bold;
    font-size: 18px;
}

header > .top-wrap > .top-bar-box > .icon-box{
    width: 100px;
    /* float: right; */
    border:1px solid black;
}   
header > .top-wrap > .top-bar-box > .icon-box li{
    width: calc(100%/2);
    float: left;

}
header > .top-wrap > .top-bar-box > .icon-box li > a{
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}